---
// Single Page App

import { hc } from "hono/client";

import type app from "../app.ts";

const cookie = Astro.cookies.get("session")?.value!;

const client = hc<typeof app>(`http://localhost:4321`, {
  init: {
    credentials: "include",
    headers: {
      Cookie: `session=${cookie}`,
    },
  },
});

const req = await client.plants.$get();
const plants = (await req.json()) || [];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Shui App</title>
  </head>
  <body>
    <div id="app">
      <h1>Welcome to Shui</h1>
      <p>My plant watering app: {plants.length}</p>
    </div>
  </body>
</html>
